/* Now targeting elements within #otherTopicsSection specifically */
#otherTopicsSection menu {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#otherTopicsSection menu li {
  margin-right: 10px;
}

#otherTopicsSection menu li:last-child {
  margin-right: 0;
}

#otherTopicsSection menu button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #000;
  cursor: pointer;
}

#otherTopicsSection menu button:hover {
  background-color: #ddd;
}
