@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html {
  background: linear-gradient(#ffc53a, #f5f749);
}

#core-topics {
  padding: 2rem;
  border-radius: 8px;
  background-color: #1b1b1b;
  color: #91bbff;
}
